@font-face {
  font-family: "iconfont"; /* Project id 3710587 */
  src: url('//at.alicdn.com/t/c/font_3710587_k3azi56hx8.woff2?t=1666084360103') format('woff2'),
  url('//at.alicdn.com/t/c/font_3710587_k3azi56hx8.woff?t=1666084360103') format('woff'),
  url('//at.alicdn.com/t/c/font_3710587_k3azi56hx8.ttf?t=1666084360103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-renwu:before {
  content: "\e8cb";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-wode2:before {
  content: "\e64a";
}

.icon-tubiao:before {
  content: "\e60d";
}
